p {
    color: red;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    font-weight: lighter;
    font-style: italic;
    text-align: center;
    text-decoration: overline;
    line-height: 3;
    letter-spacing: 10px;
    
}